In [1]:
import pandas as pd
import numpy as np

from surprise import accuracy
from surprise import SVD, NMF
from surprise import Dataset
from surprise import Reader
from surprise import NormalPredictor
from surprise.model_selection import cross_validate
from surprise.model_selection import KFold
from surprise.model_selection import GridSearchCV

In [3]:
# Read in the ratings_small (user-item) dataframe
df_ratings = pd.read_csv('data/ratings.csv')

In [4]:
df_all = pd.read_csv('data/dataframe_merged.csv', usecols=['id', 'title'])

In [5]:
df_ratings = df_ratings[df_ratings['movieId'].isin(df_all['id'])]

In [6]:
df_ratings.tail(10)

        userId  movieId  rating  timestamp
999979   10183      348     3.0  833460122
999980   10183      349     5.0  833459462
999981   10183      350     4.0  833460139
999987   10183      364     5.0  833459740
999993   10183      377     5.0  833460368
999994   10183      378     5.0  833461211
999995   10183      380     4.0  833459432
999996   10183      381     4.0  833460156
999997   10183      410     3.0  833459559
999998   10183      415     4.0  833460564

In [7]:
# Set the reader to have a rating_scale from 1-5 (default)
reader = Reader(rating_scale=(1, 5))

In [8]:
# The data only consists of userId, movieId, and rating
data = Dataset.load_from_df(df_ratings[['userId', 'movieId', 'rating']], reader)

In [9]:
# Use surprise package for a train-test split of 80-20
# Note that the train-test split will split by general rows, not specific users
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=0.20)

In [10]:
# trainsetfull = data.build_full_trainset()

In [11]:
print('Number of users: ', trainset.n_users)
print('Number of movies (items): ', trainset.n_items, '\n')

Number of users:  9905
Number of movies (items):  4818

In [12]:
trainset_iids = list(trainset.all_items())
iid_converter = lambda x: trainset.to_raw_iid(x)
trainset_raw_iids = list(map(iid_converter, trainset_iids))

In [13]:
trainset_raw_iids

[58559,
 4638,
 494,
 527,
 25,
 2928,
 6078,
 1393,
 68,
 8951,
 2770,
 260,
 4643,
 2019,
 223,
 2671,
 780,
 3527,
 1954,
 1977,
 5995,
 2160,
 8983,
 344,
 1682,
 1584,
 608,
 924,
 6461,
 3525,
 594,
 1676,
 3081,
 164,
 440,
 1213,
 842,
 539,
 40732,
 902,
 1937,
 95,
 1580,
 2333,
 1259,
 920,
 30793,
 1892,
 1884,
 916,
 616,
 2302,
 1968,
 2890,
 4226,
 1059,
 750,
 805,
 745,
 3210,
 5,
 296,
 71184,
 434,
 6947,
 314,
 500,
 597,
 54503,
 1373,
 134368,
 2349,
 543,
 910,
 648,
 44974,
 1573,
 1722,
 8340,
 714,
 377,
 4975,
 1380,
 1391,
 1680,
 2255,
 586,
 524,
 2288,
 225,
 185,
 6373,
 364,
 177,
 167738,
 535,
 2125,
 2617,
 88,
 837,
 922,
 1641,
 4326,
 110,
 2161,
 2001,
 318,
 2124,
 480,
 2501,
 1648,
 3683,
 3175,
 111,
 1963,
 593,
 36529,
 74154,
 2291,
 4912,
 94959,
 33166,
 801,
 2912,
 923,
 4701,
 2109,
 107406,
 380,
 193,
 1396,
 1249,
 196,
 84944,
 942,
 553,
 1610,
 2021,
 2117,
 4993,
 6,
 3028,
 4025,
 595,
 19,
 31696,
 1266,
 1265,
 350,
 347,
 3405,
 8368,
 410,
 1894,
 1611,
 349,
 778,
 2907,
 153,
 2011,
 31685,
 3418,
 237,
 455,
 442,
 3593,
 588,
 21,
 1375,
 161,
 1089,
 5060,
 1735,
 79094,
 562,
 3034,
 173,
 59387,
 1967,
 909,
 509,
 299,
 4896,
 140,
 2517,
 1091,
 158,
 267,
 441,
 2294,
 3040,
 858,
 1961,
 765,
 40681,
 800,
 12,
 5319,
 231,
 83765,
 968,
 2355,
 2929,
 1281,
 6436,
 1370,
 2300,
 2692,
 628,
 1544,
 2616,
 1487,
 8961,
 784,
 6978,
 84954,
 6537,
 786,
 26152,
 57326,
 2959,
 2080,
 2779,
 1688,
 2056,
 7346,
 27899,
 4992,
 17,
 4970,
 3397,
 316,
 253,
 405,
 4474,
 1247,
 544,
 247,
 1686,
 5064,
 26326,
 3536,
 1394,
 551,
 2023,
 3022,
 2470,
 899,
 2003,
 2762,
 537,
 2028,
 27618,
 1269,
 2087,
 1810,
 288,
 919,
 2112,
 8933,
 2527,
 55765,
 158382,
 2022,
 1732,
 5899,
 236,
 63876,
 115210,
 59126,
 849,
 1278,
 249,
 333,
 3160,
 866,
 8464,
 4816,
 141,
 79,
 28,
 2321,
 45186,
 2335,
 2312,
 58,
 2002,
 6016,
 953,
 1951,
 165,
 26849,
 4011,
 1592,
 8366,
 345,
 2502,
 458,
 2699,
 2115,
 62,
 1262,
 1485,
 1374,
 653,
 1252,
 832,
 6166,
 1103,
 312,
 168,
 1923,
 8767,
 1127,
 481,
 1921,
 1975,
 590,
 118900,
 54934,
 81,
 2012,
 2042,
 1917,
 92,
 1645,
 30810,
 4728,
 613,
 55156,
 261,
 1931,
 91690,
 3063,
 2005,
 4034,
 46972,
 2701,
 5156,
 8985,
 534,
 8984,
 531,
 428,
 293,
 4641,
 1073,
 3107,
 1947,
 68954,
 2202,
 7451,
 1358,
 2078,
 4639,
 540,
 697,
 1721,
 338,
 457,
 468,
 3101,
 2322,
 2813,
 2289,
 1422,
 74458,
 592,
 3543,
 6593,
 43376,
 1126,
 339,
 2006,
 497,
 277,
 914,
 11,
 2972,
 307,
 1673,
 454,
 204,
 2089,
 300,
 26131,
 6936,
 546,
 742,
 4727,
 674,
 2926,
 7445,
 4234,
 2640,
 2049,
 903,
 5900,
 898,
 4351,
 147,
 1987,
 4973,
 668,
 1405,
 1678,
 2455,
 88744,
 1550,
 294,
 160,
 4368,
 5038,
 381,
 1246,
 4995,
 48780,
 112,
 2788,
 1652,
 6264,
 1372,
 337,
 1690,
 50162,
 838,
 6535,
 7090,
 56171,
 2395,
 650,
 2116,
 2118,
 3432,
 105,
 329,
 20,
 8870,
 2010,
 222,
 1834,
 34530,
 71325,
 431,
 272,
 5063,
 1441,
 761,
 415,
 2000,
 2141,
 2734,
 2976,
 4680,
 122924,
 2058,
 1959,
 2186,
 117,
 2687,
 8915,
 203,
 342,
 2371,
 69406,
 587,
 200,
 273,
 157847,
 47610,
 59421,
 3087,
 42718,
 67255,
 4886,
 637,
 27738,
 4148,
 900,
 1411,
 26334,
 46578,
 3114,
 8874,
 1562,
 33495,
 4483,
 1683,
 2761,
 36519,
 1608,
 46976,
 83613,
 673,
 1253,
 8665,
 5971,
 4979,
 2139,
 218,
 8014,
 606,
 331,
 605,
 2359,
 31658,
 1398,
 6279,
 86295,
 7008,
 2900,
 1255,
 3057,
 42632,
 708,
 2140,
 16,
 4519,
 2072,
 3053,
 8986,
 14,
 54272,
 2054,
 921,
 86332,
 69526,
 1125,
 195,
 40815,
 5816,
 762,
 1994,
 1479,
 1729,
 2,
 2104,
 150,
 552,
 303,
 879,
 24,
 1927,
 39414,
 1586,
 8873,
 39183,
 2539,
 259,
 1620,
 6440,
 2728,
 5548,
 694,
 4283,
 107,
 327,
 1991,
 3052,
 783,
 2004,
 508,
 48385,
 799,
 44555,
 2085,
 292,
 3037,
 49530,
 6957,
 186,
 905,
 5201,
 541,
 1366,
 1282,
 2612,
 1378,
 378,
 30707,
 116977,
 951,
 1911,
 81847,
 257,
 8810,
 2100,
 1719,
 2135,
 4369,
 2993,
 4267,
 2185,
 246,
 308,
 383,
 1997,
 802,
 44022,
 2324,
 2097,
 1250,
 1653,
 70,
 5481,
 1777,
 262,
 1831,
 2064,
 3554,
 40723,
 788,
 2966,
 1639,
 48596,
 1371,
 1909,
 5902,
 26,
 104,
 3033,
 836,
 1957,
 234,
 596,
 1359,
 3489,
 60760,
 1244,
 1092,
 1914,
 3786,
 319,
 3168,
 216,
 1090,
 1883,
 5483,
 55245,
 1665,
 635,
 662,
 41569,
 2575,
 661,
 162,
 144,
 1907,
 4105,
 950,
 49524,
 839,
 542,
 7348,
 964,
 170,
 1873,
 5528,
 25793,
 3176,
 647,
 4398,
 56339,
 688,
 54001,
 69746,
 1488,
 63859,
 1382,
 4235,
 52458,
 1644,
 5247,
 2791,
 1597,
 31692,
 4523,
 1051,
 67087,
 27904,
 466,
 326,
 2212,
 26133,
 348,
 1245,
 315,
 51935,
 3479,
 891,
 1552,
 224,
 2690,
 2841,
 1591,
 3122,
 1882,
 2657,
 1689,
 27563,
 2447,
 306,
 1593,
 1387,
 166643,
 4787,
 3090,
 1049,
 44004,
 72720,
 281,
 671,
 4415,
 8831,
 1918,
 15,
 5876,
 8643,
 13,
 3578,
 3,
 3526,
 1407,
 6187,
 3016,
 990,
 64032,
 53000,
 47200,
 422,
 2594,
 80469,
 6934,
 87,
 3162,
 76,
 3082,
 6883,
 3512,
 1950,
 2262,
 271,
 3089,
 1840,
 77561,
 5994,
 3483,
 5747,
 1408,
 464,
 85414,
 85,
 2132,
 40819,
 860,
 8914,
 5608,
 1377,
 1912,
 1792,
 1619,
 4443,
 830,
 175,
 78321,
 111759,
 3701,
 163,
 44191,
 1824,
 460,
 8981,
 2107,
 8690,
 84844,
 317,
 89492,
 33454,
 276,
 3054,
 2071,
 1615,
 459,
 2625,
 986,
 84152,
 3051,
 2082,
 4191,
 26171,
 6058,
 74,
 32029,
 1257,
 1088,
 2033,
 2639,
 5620,
 48412,
 105098,
 73,
 235,
 8998,
 3513,
 6003,
 1966,
 8814,
 4734,
 96821,
 703,
 4887,
 554,
 548,
 3075,
 3698,
 72479,
 2108,
 1687,
 4558,
 1667,
 93840,
 435,
 232,
 912,
 4498,
 901,
 2067,
 86835,
 1643,
 2459,
 4644,
 2662,
 205,
 1284,
 32213,
 3074,
 42011,
 27620,
 80880,
 2433,
 1589,
 2759,
 3072,
 43930,
 6312,
 2055,
 97,
 926,
 704,
 618,
 62394,
 332,
 73881,
 2144,
 252,
 1542,
 69784,
 62439,
 2454,
 2457,
 1277,
 8827,
 766,
 3146,
 3681,
 585,
 1779,
 1376,
 2133,
 26631,
 436,
 59392,
 49013,
 913,
 475,
 505,
 2102,
 8937,
 6023,
 59935,
 1587,
 30712,
 2749,
 5651,
 2268,
 65596,
 43836,
 955,
 3030,
 2046,
 1785,
 897,
 1837,
 2750,
 2111,
 2153,
 2605,
 1965,
 430,
 1419,
 4344,
 84772,
 2269,
 1885,
 4927,
 99,
 4464,
 2982,
 85025,
 709,
 393,
 2565,
 32596,
 44694,
 692,
 25831,
 5048,
 3576,
 928,
 330,
 8740,
 25753,
 1588,
 145,
 469,
 4296,
 2114,
 63,
 48591,
 1835,
 2989,
 2973,
 5470,
 85510,
 2043,
 493,
 59404,
 7840,
 861,
 2334,
 8269,
 289,
 8371,
 2275,
 1858,
 4133,
 711,
 8970,
 445,
 32128,
 89774,
 2898,
 1381,
 8905,
 4676,
 7092,
 159,
 201,
 782,
 2134,
 1280,
 1875,
 3476,
 26614,
 1727,
 387,
 1093,
 5618,
 217,
 521,
 3686,
 214,
 1999,
 5956,
 86,
 46948,
 291,
 980,
 4499,
 37727,
 2193,
 501,
 64983,
 1267,
 599,
 2088,
 45722,
 104241,
 1888,
 1694,
 1556,
 2094,
 2176,
 3083,
 36523,
 490,
 2528,
 707,
 1367,
 184,
 ...]

In [14]:
from surprise import KNNWithMeans
my_k = 15
my_min_k = 5
my_sim_option = {
    'name':'cosine', 'user_based':False, 'verbose': False
    }
algo = KNNWithMeans(sim_options = my_sim_option)
algo.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [15]:
# Dataframe of all the movies voted for
pd.DataFrame(algo.sim)

,0,1,2,3,4,5,6,7,8,9,...,4808,4809,4810,4811,4812,4813,4814,4815,4816,4817
0,1.000000,0.935286,0.973504,0.958661,0.960105,1.000000,0.944771,0.952749,1.000000,0.961962,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
1,0.935286,1.000000,0.942032,0.931058,0.945446,1.000000,0.952438,0.935474,0.000000,0.995950,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.973504,0.942032,1.000000,0.952673,0.920150,1.000000,0.954213,0.946754,0.939411,0.966753,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.958661,0.931058,0.952673,1.000000,0.956590,0.964376,0.895596,0.967638,0.938939,0.978285,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.960105,0.945446,0.920150,0.956590,1.000000,0.882850,0.952228,0.943133,0.983317,0.963145,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4813,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4814,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4815,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4816,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4817,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [16]:
# Same dataframe as algo.sim but the indices/columns are now movieId
df_cos_surprise = pd.DataFrame(algo.sim, index=trainset_raw_iids, columns=trainset_raw_iids)

df_cos_surprise

,58559,4638,494,527,25,2928,6078,1393,68,8951,...,8453,75438,136345,46525,133131,85312,87302,114426,61638,57276
58559,1.000000,0.935286,0.973504,0.958661,0.960105,1.000000,0.944771,0.952749,1.000000,0.961962,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
4638,0.935286,1.000000,0.942032,0.931058,0.945446,1.000000,0.952438,0.935474,0.000000,0.995950,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
494,0.973504,0.942032,1.000000,0.952673,0.920150,1.000000,0.954213,0.946754,0.939411,0.966753,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
527,0.958661,0.931058,0.952673,1.000000,0.956590,0.964376,0.895596,0.967638,0.938939,0.978285,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
25,0.960105,0.945446,0.920150,0.956590,1.000000,0.882850,0.952228,0.943133,0.983317,0.963145,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85312,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
87302,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
114426,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
61638,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
57276,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [17]:
df_all

           id                        title
0         862                    Toy Story
1        8844                      Jumanji
2       15602             Grumpier Old Men
3       31357            Waiting to Exhale
4       11862  Father of the Bride Part II
...       ...                          ...
46623  439050                       Subdue
46624  111109          Century of Birthing
46625   67758                     Betrayal
46626  227506             Satan Triumphant
46627  461257                     Queerama

[46628 rows x 2 columns]

In [18]:
df_all = df_all.reset_index()
df_all.index = df_all.id

In [19]:
df_all

        index      id                        title
id
862         0     862                    Toy Story
8844        1    8844                      Jumanji
15602       2   15602             Grumpier Old Men
31357       3   31357            Waiting to Exhale
11862       4   11862  Father of the Bride Part II
...       ...     ...                          ...
439050  46623  439050                       Subdue
111109  46624  111109          Century of Birthing
67758   46625   67758                     Betrayal
227506  46626  227506             Satan Triumphant
461257  46627  461257                     Queerama

[46628 rows x 3 columns]

In [20]:
movieIdtoindex = df_all['index'].to_dict()

In [21]:
df_cos_surprise = df_cos_surprise.rename(index=movieIdtoindex, columns=movieIdtoindex)

In [22]:
df_cos_surprise

,38888,11726,3686,286,10612,1379,19853,12101,1178,16680,...,45745,46013,29512,21725,45980,22232,22102,39446,31965,17341
38888,1.000000,0.935286,0.973504,0.958661,0.960105,1.000000,0.944771,0.952749,1.000000,0.961962,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
11726,0.935286,1.000000,0.942032,0.931058,0.945446,1.000000,0.952438,0.935474,0.000000,0.995950,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3686,0.973504,0.942032,1.000000,0.952673,0.920150,1.000000,0.954213,0.946754,0.939411,0.966753,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
286,0.958661,0.931058,0.952673,1.000000,0.956590,0.964376,0.895596,0.967638,0.938939,0.978285,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
10612,0.960105,0.945446,0.920150,0.956590,1.000000,0.882850,0.952228,0.943133,0.983317,0.963145,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22232,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22102,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
39446,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
31965,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17341,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [23]:
# Make a pandas dataframe of movie x movie length from df_all
# Fill in the values from matrix 'algo.sim'
# Set the diagonal to "1"
df_blank = pd.DataFrame(np.nan, range(1,len(df_all)), range(1,len(df_all)))
df_blank

,1,2,3,4,5,6,7,8,9,10,...,46618,46619,46620,46621,46622,46623,46624,46625,46626,46627
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_blank = df_cos_surprise.combine_first(df_blank)

In [ ]:
df_blank

In [ ]:
# # Assign the diagonals as 1
# df_blank.values[[np.arange(df_blank.shape[0])]*2] = 1

In [ ]:
np.fill_diagonal(df_blank.values, 1)
df_blank

In [ ]:
df_bank = df_blank.fillna(0)

In [ ]:
df_blank

In [ ]:
np.save('cosine_similarity/cos_ratings.npy', df_blank)